@import "../../commonStyles/colors.module.scss";
@import "../../commonStyles/media-queries.module.scss";
.container {
  background-color: #253d4e;
  opacity: 0.9;
  margin-top: 20px;
  width: 100%;
  position: relative;
  .zlite_mall_logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 7px;
    color: red;
    background: linear-gradient(
      269.8deg,
      #2cac66 0.17%,
      #1f81a1 71.38%,
      #1a70b8 99.85%
    );
    color: white;
    padding: 3px 10px;
    border-radius: 15px;
    position: absolute;
    right: 2%;
    top: -4%;
    @include respond(sm) {
      top: -1.5%;
    }
  }
  @include respond(sm) {
    margin-top: 28px;
  }
  .zlite_mall_logo {
  }
  .footer_content_wrapper {
    padding: 2%;
  }
  .store_desc {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    color: white;
    opacity: 0.95;
    @include respond(md) {
      margin-bottom: 20px;
    }
    .tagline {
      font-family: "Josefin Sans", sans-serif;
      font-size: 0.68em;
      font-weight: 400;
      line-height: 1.5;
      text-transform: lowercase;
      word-wrap: initial;
      overflow-wrap: initial;
      margin-top: -10px;
    }
    .heading {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
    }
    .text {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      @include respond(md) {
        line-height: 20px;
      }
    }
  }
  .heading_text {
    height: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $theme-clr;
    @include respond(md) {
      height: 20px;
    }
  }
  .text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
    color: white;
    opacity: 0.95;
  }
}
.poweredby_wrapper {
  background-color: #0e2d45;
  opacity: 1;
  padding: 1% 2%;
  width: 100%;
  .powered_by_title_wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    .powered_by_title {
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: white;
    }
  }
  .social_connect_wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    .social_logo_wrapper {
      display: flex;
      column-gap: 5px;
    }
    .social_connect_text {
      color: white;
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
