.container {
  width: 93%;
  margin: 20px auto;
  .header {
    font-style: Roboto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f8f7f7;
    font-weight: 400;
    border-radius: 2px;
    opacity: 0.8;
  }
}
