.container {
  background-color: #fff;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 13px;
  color: #000;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
