@import "../../commonStyles/colors.module.scss";
@import "../../commonStyles/media-queries.module.scss";
.my_cart_container {
  width: 93%;
  margin: auto;
  margin-bottom: 100px;
  .breadcrumb_wrapper {
    margin: 20px 0;
    padding: 10px;
    border-radius: 2px;
  }
  .page_heading {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #253d4e;
  }
  .section {
    margin-top: 20px !important;
    .deliver_adderss_container {
      display: flex;
      align-items: center;
      padding: 17px 20px;
      border: 1px solid #e2e2e2;
      border-radius: 10px;
      .deliver_adderss_test_wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .deliver_loc_type {
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0em;
          text-align: left;
        }
        .deliver_address {
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          color: #253d4e;
        }
        .serviecable {
          font-family: "Josefin Sans", sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
          color: #fd334e;
          display: flex;
          align-items: center;
          opacity: 0.7;
          column-gap: 3px;
          @include respond(sm) {
            flex-direction: column;
          }
        }
        .serviecable span {
          height: 12px !important;
          @include respond(sm) {
            display: none !important;
          }
        }
      }
      .change_add_btn_wrapper {
        display: flex;
        justify-content: flex-end;
        @include respond(sm) {
          justify-content: center;
          margin-top: 10px;
        }
        .change_add_btn {
          font-family: Josefin Sans;
          color: #000000;
          background: white;
          border-color: #000000;
          border-radius: 5px;
          text-transform: uppercase;
          font-weight: 400;
          padding: 5px 10px;
          height: 35px;
          @include respond(sm) {
            width: 100%;
          }
        }
        .change_add_btn:hover {
          color: #ffffff;
          background: #000000;
        }
      }
    }
    .second_row {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .selected_items {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #253d4e;
      }
      .move_to_whishlist {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #fd3343;
      }
    }
    .cart_card_heading {
      border-top: 1px solid #e2e2e2;
      margin-top: 30px;
      padding-left: 2%;
      padding-top: 2%;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #253d4e;
      @include respond(sm) {
        display: none;
      }
    }
    .cart_card_wrapper {
      margin-top: 20px;
    }
    .continue_shop_btn {
      margin-top: 20px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      color: $theme-clr;
      border: 1px solid $theme-clr;
      padding: 10px 17px;
      border-radius: 2px;
      background-color: white;
      cursor: pointer;
      @include respond(sm) {
        margin-top: 5px;
        width: 100%;
      }
    }
    margin: 0.75em 0;
    .list,
    .total_amount,
    .apply_coupons {
      font-family: Josefin Sans;
      margin: 0.5em 0;
      .price {
        float: right;
      }
    }
    .cod_limit {
      display: flex;
      align-items: center;
      justify-content: start;
      column-gap: 6px;
      margin: 25px 0;
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #349f3f;
    }
    .list .label span {
      font-family: Josefin Sans;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #253d4e;
      opacity: 0.5;
    }
    .apply_coupons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px dashed #e2e2e2;
      border-radius: 2px;
      color: #fd334e;
      cursor: pointer;
      margin: 0.5em 0 0.75em;
      padding: 0.5em 0.75em;
    }

    .applyed_coupons {
      border: 1px dashed #e2e2e2;
      padding: 3px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      row-gap: 3px;
      .code {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #253d4e;
      }
      .status_text {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #253d4e;
      }
      .saved_ammount {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        color: #3bb77e;
      }
      .remove_coupon {
        font-family: "Josefin Sans", sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
        color: #fd334e;
      }
    }
    .total_amount {
      font-weight: bold;
    }
    .divider {
      margin: 16px 0;
    }
    .address {
      padding: 0.5em;
    }
  }
  .pay_now_btn {
    background: #000000;
    border-color: #000000;
    border-radius: 5px;
    margin: 0.5em 0;
    width: 100%;
    padding: 15px 0;
    height: 100%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .pay_now_disable_btn {
    background: lightgray;
    border-color: lightgray;
    border-radius: 5px;
    margin: 0.5em 0;
    width: 100%;
    padding: 15px 0;
    height: 100%;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  }
  .cart_limit {
    color: red;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
  }
  .selected_item {
    padding: 1em 0;
    .move_to_wishlist {
      color: red;
      text-align: right;
    }
  }
  .continue_shopping_btn {
    padding: 1em 0;
  }
}

.primary_btn {
  color: #01c0cc;
  background: white;
  border-color: #01c0cc;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #253d4e;
  margin-bottom: 20px;
}
.child_data {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #253d4e;
}
.payment_option_modal {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  .payment_option_modal_img_wrapper {
    display: flex;
    justify-content: space-between;

    .payment_option_modal_img_1 {
      cursor: pointer;
      .cod_text {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        color: $theme-clr;
      }
    }
    .payment_option_modal_img_2 {
      cursor: pointer;
      .op_text {
        font-family: "Josefin Sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        justify-content: center;
      }
    }
  }
  .payment_details {
    display: flex;
    justify-content: space-between;
    .payment_details_text {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
    .payment_details_ammount {
      font-family: "Josefin Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
.order_summery {
  border-radius: 10px;
  border: 1px solid #dddddd;
  @include respond(sm) {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.promise_show {
  border: 1px solid #e2e2e2;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.delivery_option_wrapper {
  // padding: 10px 0 10px 2%;
  display: flex;
  // align-items: center;
  flex-wrap: wrap;
  // justify-content: space-between;
  flex-direction: column;
  column-gap: 10px;
  row-gap: 5px;
  .text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .timing {
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #3bb77e;
    text-transform: capitalize;
  }
  .del_charge {
    // border: 1px solid red;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .delivery_option_wrapper_text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }
  .delivery_option_wrapper_action {
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: $theme-clr;
    cursor: pointer;
  }
  .delivery_time_wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .delivery_time {
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      color: #253d4e;
    }

    .delivery_charge {
      font-family: "Josefin Sans", sans-serif;
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      letter-spacing: 0em;
      text-align: left;
      color: #253d4e;
    }
  }
  .delivery_address_change {
    cursor: pointer;
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #01c0cc;
  }
}
.close_icon span {
  top: -4px !important;
  right: -12px !important;
}
.switch_btn {
  display: flex;
  flex-direction: row-reverse;
  @include respond(sm) {
    flex-direction: row;
  }
  :global {
    .ant-radio {
      display: none !important;
    }
  }
}
.radio_wrapper {
  display: flex;
  align-items: center;
}
.radio {
  border: 1px solid #000000;
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
.radio_disactive {
  border: 1px solid #d9d9d9;
  padding: 2px 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.8;
}
.confirm_modal_text {
  font-family: "Josefin Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  @include respond(sm) {
    margin-top: -10px;
  }
}
.confirm_btn_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  column-gap: 10px;
  // @include respond(sm) {
  //   margin-top: 10px;
  // }
  .cancel_btn {
    background-color: white;
    border: 1px solid #000000;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
  }
  .confirm_btn {
    background-color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    border: none;
    border-radius: 2px;
  }
}
