@import "../../commonStyles/colors.module.scss";
@import "../../commonStyles/media-queries.module.scss";
.main_container {
  // border: 2px solid red;
  // padding: 0px 0 10px;
  border:1px solid #ddd;
  // box-shadow: 0px 4px 4px rgba(153, 153, 153, 0.25);
}
.EditOutlined {
  font-family: Josefin Sans;
  //   padding: 17px 31px 0 31px;
  /* border-bottom: 1px solid #eaeaea; */
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}
.tab2_header {
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  .profile_title {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
  }
  .edit_icon {
    // position: absolute;
    // right: 4%;
    padding: 2px 7px;
    cursor: pointer;
    // border: 2px solid $theme-clr;
    border-radius: 5px;
    border: 1px solid #d3dcea;
    background-color: #f4f4f4;
  }
  .edit_icon svg{
    fill: #7C8092;
  }
}
.divider {
  margin: 0px !important;
  padding-bottom: 20px;
}
.profile_col {
  padding: 0 1rem;
  /* padding-top: 1rem;
    padding-left: 16px;
    padding-right: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.verify_btn {
  width: 100%;
  border-color: transparent;
  background: #30cb6e;
}
.verify_btn:hover {
  background: #40403f;
  border-color: transparent;
  color: #ffffff;
}
.verify_btn:focus {
  background: #40403f;
  border-color: transparent;
  color: #ffffff;
}
.profile_form .user_details_row .required_field label::after {
  /* border: 1px solid red; */
  display: inline-block;
  /* margin-right: 4px; */
  margin-top: 0.2rem;
  color: #ff4d4f;
  /* font-size: 14px; */
  content: "*";
}
.profile_form .user_details_row .not_required_field label::after {
  display: inline-block;
  margin-top: 0.2rem;
  color: transparent;
  content: "*";
}

.user_details_row {
  /* content: "*"; */
  margin: 0 5rem;
  /* border: 1px solid red; */
}
.user_details_row2 {
  /* max-width: 80%; */
  margin: 0 0.5rem 0 14.5rem;
}

.user_details_col {
  /* border: 1px solid red; */
}
.user_details {
  background: #fff;
  border-radius: 5px;
}
.upload_btn {
  margin-top: 2rem;
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  color: #da251c;
}
.remove_btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #1f1a17;
  opacity: 0.6;
}
.cancel_btn {
  width: 91px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 2px;
  margin-right: 1rem;
  cursor: pointer;
  font-family: Josefin Sans;
}
.save_btn_disable {
  border: none;
  width: 91px;
  height: 32px;
  background: #93999a;
  border-radius: 2px;
  cursor: not-allowed;
  color: white;
  font-family: Josefin Sans;
  @include respond(sm) {
    width: 100%;
  }
}
.save_btn_active {
  border: none;
  width: 91px;
  height: 32px;
  background: #000000;
  border-radius: 2px;
  cursor: pointer;
  color: white;
  font-family: Josefin Sans;
}
.save_btn:hover {
  background: #000000;
  //   color: #ffffff;
}
@media screen and (max-width: 992px) {
  .user_details_row2 {
    margin: 0 0rem 0 15rem;
  }
}
@media screen and (max-width: 768px) {
  .user_details_row2 {
    margin: 0 1rem 0 12rem;
  }
}
@media screen and (max-width: 767px) {
  .user_details_row2 {
    margin: 0 5rem 0 5rem;
  }
}
@media screen and (max-width: 480px) {
  .profile_btn {
    flex-direction: column;
    width: 100%;
  }
  .ant-space-item {
    width: 100%;
  }
  .profile_header {
    flex-direction: column;
    row-gap: 10px;
  }
  .user_details_row {
    margin: 0 2rem;
  }
  .user_details_row2 {
    margin: 0 2rem;
  }
  .user_details_col {
    margin: 0;
  }
  .cancel_btn {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .save_btn_active {
    width: 100%;
  }
}
.verify_text {
  font-family: Josefin Sans;
  font-size: 12px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
  color: #01c0cc;
  cursor: pointer;
  // color: red;
}

.otp_title {
  text-align: center;
  font-family: Josefin Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  margin-top: 20px;
}
.otp_desc_text {
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  width: 90%;
  margin: auto;
}
.otp_boxes {
  display: flex;
  margin-top: 10px;
  margin-inline: auto;
  justify-content: center;
  width: 80%;
  column-gap: 5px;
  .otpError {
    input {
      // border: 1px solid red;
      text-align: center;
    }
  }
  .otpSuccess {
    input {
      border: 1px solid #cdcdcd;
    }
  }
}
.resend_otp {
  color: #253d4e;
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 20px auto 0px;
  .btn {
    border: none;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    line-height: 14px;
    color: $theme-clr;
    letter-spacing: 1px;
  }
  .timer {
    color: black;
    font-size: 15px;
  }
}
.otp_verify_btn {
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background-color: $theme-clr;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.otp_verify_btn_disable {
  font-family: Josefin Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background-color: $theme-clr;
  color: white;
  border: none;
  padding: 10px 10px;
  width: 100%;
  border-radius: 5px;
  cursor: not-allowed;
  opacity: 0.3;
  margin-top: 10px;
}
.zefInfoToolTip {
  :global {
    .ant-tooltip-inner {
      background-color: #8daabb !important;
      border-radius: 5px !important;
      text-align: center;
      padding: 2px 20px;
      font-size: 16px;
    }
    .ant-tooltip-arrow {
      display: none;
    }
  }
}
