@import "../../commonStyles/media-queries.module.scss";
.container {
  width: 93%;
  margin: auto;
  .bread_crumb {
    margin-top: 30px;
    font-family: Josefin Sans;
    // padding: 17px 19px;
    // background-color: #fbfbfb;
    // border: 0.4px solid #e2e2e2;
  }
  .whishlist_heading {
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: 500;
    line-height: 0px;
    letter-spacing: 0em;
    text-align: left;
    color: #253d4e;
    // margin-top: 2%;
    @include respond(sm) {
      margin-top: 10px;
    }
    .whishlist_number {
      color: gray;
      font-size: 12px;
      padding-left: 5px;
    }
  }
  .whishlist_card_wrapper {
    margin-top: 10px;
    @include respond(sm) {
      margin-top: 5px;
    }
  }
}
.page_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.empty_container {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  background: #fbfbfb;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty_container h4 {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-top: 20px;
}
.empty_container h5 {
  font-family: Josefin Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
}
.emp_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Josefin Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  background: #ffffff;
  // color: #ffffff;
  border-radius: 5px;
  padding: 20px 40px;
  border: 1px solid #000000;
  margin-top: 50px;
}
.emp_btn:hover {
  background: #000000;
  color: #ffffff;
  border: none;
}
